<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakte</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Kontakte</h1>
        <div id="app">
            <div v-if="main.visible" class="border p-2">
                <table class="table  table-striped">
                    <tr>
                        <th>id</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Alter</th>
                        <th>Körpergröße</th>
                        <th>Beziehungsstatus</th>
                        <th>Lieblingsfarbe</th>
                        <th>Lieblingslehrer</th>
                        <th></th>
                    </tr>
                    <tr v-for="kontakt in kontakte">
                        <td>{{ kontakt.id }}</td>
                        <td>{{ kontakt.vorname }}</td>
                        <td>{{ kontakt.nachname }}</td>
                        <td>{{ kontakt.alter }}</td>
                        <td>{{ kontakt.groesse }}</td>
                        <td>{{ titleCase(kontakt.beziehungsstatus) }}</td>
                        <td>{{ titleCase(kontakt.lieblingsfarbe) }}</td>
                        <td>{{ titleCase(kontakt.lieblingslehrer) }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm"@click="buttonUpdateClick(kontakt)">&#9999;</button>
                            <button class="btn btn-danger btn-sm me-1" @click="buttonDeleteClick(kontakt)">&#128465;</button>
                        </td>
                    </tr>
                </table>

                <button class="btn btn-primary mb-2" @click="buttonNewKontaktClick">Neuen Kontakt hinzufügen</button>
            </div>

            <div v-if="modalNew.visible" class="border p-2">
                <h2>Neuen Kontakt hinzufügen</h2>

                <div>
                    <label class="form-label" for="inputNewVorname">Vorname</label>
                    <input v-model="modalNew.vorname" class="form-control" id="inputNewVorname" type="text">
                </div>
                <div>
                    <label class="form-label" for="inputNewNachname">Nachname</label>
                    <input v-model="modalNew.nachname" class="form-control" id="inputNewNachname" type="text">
                </div>
                <div>
                    <label class="form-label" for="inputNewAlter">Alter</label>
                    <input v-model="modalNew.alter" class="form-control" id="inputNewAlter" type="number">
                </div>
                <div>
                    <label class="form-label" for="inputNewGroesse">Körpergröße {{this.modalNew.groesse }}</label>
                    <input v-model="modalNew.groesse" class="form-control" id="inputNewGroesse" type="range" min="0" max="3" step="0.01" value="1.75">
                </div>
                <div>
                    <label class="form-label" for="inputNewBeziehungsstatus">Beziehungsstatus</label>
                    <div class="mb-0">
                        <input v-model="modalNew.beziehungsstatus" name="beziehungsstatus"  class="form-radio" type="radio" id="single" value="single">
                        <label class="form-label" for="single">Single</label>
                    </div>
                    <div class="mt-0">
                        <input v-model="modalNew.beziehungsstatus" name="beziehungsstatus" class="form-radio" type="radio" id="vergeben" value="vergeben">
                        <label class="form-label" for="vergeben">Vergeben</label>
                    </div>
                    
                </div>
                <div>
                    <label class="form-label" for="selectNewLieblingsfarbe">Lieblingsfarbe</label>
                    <select id="selectNewLieblingsfarbe" class="form-select" v-model="modalNew.lieblingsfarbe">
                        <option value="rot">Rot</option>
                        <option value="lavendel">Lavendel</option>
                        <option value="hotpink">Hotpink</option>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="selectNewLieblingslehrer">Lieblingslehrer</label>
                    <select id="selectNewLieblingslehrer" class="form-select" v-model="modalNew.lieblingslehrer">
                        <option value="kohnle">Kohnle</option>
                        <option value="hohaus">Hohaus</option>
                        <option value="kessler">Kessler</option>
                    </select>
                </div>
                <button @click="buttonNewCancelClick" class="btn btn-light border m-2">Abbrechen</button>
                <button @click="buttonNewSaveClick" class="btn btn-success">Speichern</button>
            </div>

            <div v-if="modalUpdate.visible" class="border p-2">
                <h2>Kontakt bearbeiten</h2>

                <div>
                    <label class="form-label" for="inputUpdateVorname">Vorname</label>
                    <input v-model="modalUpdate.vorname" class="form-control" id="inputUpdateVorname" type="text">
                </div>
                <div>
                    <label class="form-label" for="inputUpdateNachname">Nachname</label>
                    <input v-model="modalUpdate.nachname" class="form-control" id="inputUpdateNachname" type="text">
                </div>
                <div>
                    <label class="form-label" for="inputUpdatealter">Alter</label>
                    <input v-model="modalUpdate.alter" class="form-control" id="inputUpdateAlter" type="number">
                </div>
                <div>
                    <label class="form-label" for="inputUpdateGroesse">Körpergröße</label>
                    <input v-model="modalUpdate.groesse" class="form-control" id="inputUpdateGroesse" type="range" min="0" max="3" step="0.01" value="1.75">
                </div>
                <div>
                    <label class="form-label" for="inputNewBeziehungsstatus">Beziehungsstatus</label>
                    <div class="mb-0">
                        <input v-model="modalUpdate.beziehungsstatus" name="beziehungsstatus"  class="form-radio" type="radio" id="single" value="single">
                        <label class="form-label" for="single">Single</label>
                    </div>
                    <div class="mt-0">
                        <input v-model="modalUpdate.beziehungsstatus" name="beziehungsstatus" class="form-radio" type="radio" id="vergeben" value="vergeben">
                        <label class="form-label" for="vergeben">Vergeben</label>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="selectUpdateLieblingsfarbe">Lieblingsfarbe</label>
                    <select id="selectUpdateLieblingsfarbe" class="form-select" v-model="modalUpdate.lieblingsfarbe">
                        <option value="rot">Rot</option>
                        <option value="lavendel">Lavendel</option>
                        <option value="hotpink">Hotpink</option>
                    </select>
                </div>
                <div>
                    <label class="form-label" for="selectUpdateLieblingslehrer">Lieblingslehrer</label>
                    <select id="selectUpdateLieblingslehrer" class="form-select" v-model="modalUpdate.lieblingslehrer">
                        <option value="kohnle">Kohnle</option>
                        <option value="hohaus">Hohaus</option>
                        <option value="kessler">Kessler</option>
                    </select>
                </div>
                <button @click="buttonUpdateCancelClick" class="btn btn-light border m-2">Abbrechen</button>
                <button @click="buttonUpdateSaveClick" class="btn btn-success">Speichern</button>
            </div>          

            <div v-if="modalDelete.visible" class="border p-2">
                <h2>Kontakt löschen</h2>
                <p>Wollen Sie den Kontakt {{ modalDelete.vorname }} {{ modalDelete.nachname }} wirklich löschen?</p>
                <button class="btn btn-light border m-2" @click="buttonDeleteCancelClick">Abbrechen</button>
                <button class="btn btn-danger border m-2" @click="buttonDeleteConfirmClick">Löschen</button>
            </div>
        
        <h1 v-if="main.visible" >Statistik</h1>
        <div id="app">
            <div v-if="main.visible" class="border p-2">
                <table class="table  table-striped">
                    <tr>
                        <th>Durchschnittsalter</th>
                        <th>Anzahl der Kontakte</th>
                        <th>Singles in deiner Umgebung</th>
                    </tr>
                    <tr>
                        <td>{{ durchschnittsalter() }}</td>
                        <td>{{ kontakte.length }}</td>
                        <td>{{ kontakte.filter(kontakt => kontakt.beziehungsstatus === 'single').length }}</td>
                    </tr>
                    

        </div>
    </div>
    <script src="vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>